.container_movies {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.container_movies h1 {
   background-color: #232323;
   padding: 1%;
   margin: 0;
}

.container_movies Movie {
   margin: 0 auto;
}

.movies_list ul {
   list-style: none;
}

.movies_list ul h2 {
   margin: 0 auto;
}